

NET "VGA_BLANK_N" LOC = M2;
NET "VGA_B[0]" LOC = K3;
NET "VGA_B[1]" LOC = J4;
NET "VGA_B[2]" LOC = H1;
NET "VGA_B[3]" LOC = F1;
NET "VGA_B[4]" LOC = F2;
NET "VGA_B[5]" LOC = E1;
NET "VGA_B[6]" LOC = E2;
NET "VGA_B[7]" LOC = C1;
NET "VGA_CLK" LOC = B1;
NET "VGA_G[0]" LOC = M16;
NET "VGA_G[1]" LOC = M15;
NET "VGA_G[2]" LOC = R7;
NET "VGA_G[3]" LOC = R15;
NET "VGA_G[4]" LOC = R16;
NET "VGA_G[5]" LOC = T4;
NET "VGA_G[6]" LOC = R2;
NET "VGA_G[7]" LOC = R1;
NET "VGA_HS" LOC = A2;
NET "VGA_R[0]" LOC = J16;
NET "VGA_R[1]" LOC = J14;
NET "VGA_R[2]" LOC = F15;
NET "VGA_R[3]" LOC = F16;
NET "VGA_R[4]" LOC = C16;
NET "VGA_R[5]" LOC = C15;
NET "VGA_R[6]" LOC = B16;
NET "VGA_R[7]" LOC = B15;
NET "VGA_SYNC_N" LOC = M1;


NET "VGA_BLANK_N" IOSTANDARD = LVTTL;
NET "VGA_B[0]" IOSTANDARD = LVTTL;
NET "VGA_B[1]" IOSTANDARD = LVTTL;
NET "VGA_B[2]" IOSTANDARD = LVTTL;
NET "VGA_B[3]" IOSTANDARD = LVTTL;
NET "VGA_B[4]" IOSTANDARD = LVTTL;
NET "VGA_B[5]" IOSTANDARD = LVTTL;
NET "VGA_B[6]" IOSTANDARD = LVTTL;
NET "VGA_B[7]" IOSTANDARD = LVTTL;
NET "VGA_CLK" IOSTANDARD = LVTTL;
NET "VGA_G[0]" IOSTANDARD = LVTTL;
NET "VGA_G[1]" IOSTANDARD = LVTTL;
NET "VGA_G[2]" IOSTANDARD = LVTTL;
NET "VGA_G[3]" IOSTANDARD = LVTTL;
NET "VGA_G[4]" IOSTANDARD = LVTTL;
NET "VGA_G[5]" IOSTANDARD = LVTTL;
NET "VGA_G[6]" IOSTANDARD = LVTTL;
NET "VGA_G[7]" IOSTANDARD = LVTTL;
NET "VGA_HS" IOSTANDARD = LVTTL;
NET "VGA_R[0]" IOSTANDARD = LVTTL;
NET "VGA_R[1]" IOSTANDARD = LVTTL;
NET "VGA_R[2]" IOSTANDARD = LVTTL;
NET "VGA_R[3]" IOSTANDARD = LVTTL;
NET "VGA_R[4]" IOSTANDARD = LVTTL;
NET "VGA_R[5]" IOSTANDARD = LVTTL;
NET "VGA_R[6]" IOSTANDARD = LVTTL;
NET "VGA_R[7]" IOSTANDARD = LVTTL;
NET "VGA_SYNC_N" IOSTANDARD = LVTTL;
NET "VGA_VS" IOSTANDARD = LVTTL;


NET "VGA_VS" LOC = B2;


NET "CLOCK_12" LOC = A9;


NET "CLOCK_12" IOSTANDARD = LVTTL;


NET "BA[0]" LOC = H3;
NET "BA[1]" LOC = G3;
NET "CAS_N" LOC = L3;
NET "CKE" LOC = J12;
NET "CS_N" LOC = H4;
NET "DQ[0]" LOC = P6;
NET "DQ[1]" LOC = T6;
NET "DQ[2]" LOC = T5;
NET "DQ[3]" LOC = P5;
NET "DQ[4]" LOC = R5;
NET "DQ[5]" LOC = N5;
NET "DQ[6]" LOC = P4;
NET "DQ[7]" LOC = N4;
NET "DQ[8]" LOC = P12;
NET "DQ[9]" LOC = R12;
NET "DQ[10]" LOC = T13;
NET "DQ[11]" LOC = T14;
NET "DQ[12]" LOC = R14;
NET "DQ[13]" LOC = T15;
NET "DQ[14]" LOC = T12;
NET "DQ[15]" LOC = P11;
NET "LDQM" LOC = M4;
NET "DRAM_CLK" LOC = K12;
NET "RAS_N" LOC = L4;
NET "SA[0]" LOC = E4;
NET "SA[1]" LOC = E3;
NET "SA[2]" LOC = D3;
NET "SA[3]" LOC = C3;
NET "SA[4]" LOC = B12;
NET "SA[5]" LOC = A12;
NET "SA[6]" LOC = D12;
NET "SA[7]" LOC = E12;
NET "SA[8]" LOC = G16;
NET "SA[9]" LOC = G12;
NET "SA[10]" LOC = F4;
NET "SA[11]" LOC = G11;
NET "SA[12]" LOC = H13;
NET "UDQM" LOC = L13;
NET "WE_N" LOC = M3;


NET "BA[0]" IOSTANDARD = LVTTL;
NET "BA[1]" IOSTANDARD = LVTTL;
NET "CAS_N" IOSTANDARD = LVTTL;
NET "CKE" IOSTANDARD = LVTTL;
NET "CS_N" IOSTANDARD = LVTTL;
NET "DQ[0]" IOSTANDARD = LVTTL;
NET "DQ[1]" IOSTANDARD = LVTTL;
NET "DQ[2]" IOSTANDARD = LVTTL;
NET "DQ[3]" IOSTANDARD = LVTTL;
NET "DQ[4]" IOSTANDARD = LVTTL;
NET "DQ[5]" IOSTANDARD = LVTTL;
NET "DQ[6]" IOSTANDARD = LVTTL;
NET "DQ[7]" IOSTANDARD = LVTTL;
NET "DQ[8]" IOSTANDARD = LVTTL;
NET "DQ[9]" IOSTANDARD = LVTTL;
NET "DQ[10]" IOSTANDARD = LVTTL;
NET "DQ[11]" IOSTANDARD = LVTTL;
NET "DQ[12]" IOSTANDARD = LVTTL;
NET "DQ[13]" IOSTANDARD = LVTTL;
NET "DQ[14]" IOSTANDARD = LVTTL;
NET "DQ[15]" IOSTANDARD = LVTTL;
NET "LDQM" IOSTANDARD = LVTTL;
NET "DRAM_CLK" IOSTANDARD = LVTTL;
NET "RAS_N" IOSTANDARD = LVTTL;
NET "SA[0]" IOSTANDARD = LVTTL;
NET "SA[1]" IOSTANDARD = LVTTL;
NET "SA[2]" IOSTANDARD = LVTTL;
NET "SA[3]" IOSTANDARD = LVTTL;
NET "SA[4]" IOSTANDARD = LVTTL;
NET "SA[5]" IOSTANDARD = LVTTL;
NET "SA[6]" IOSTANDARD = LVTTL;
NET "SA[7]" IOSTANDARD = LVTTL;
NET "SA[8]" IOSTANDARD = LVTTL;
NET "SA[9]" IOSTANDARD = LVTTL;
NET "SA[10]" IOSTANDARD = LVTTL;
NET "SA[11]" IOSTANDARD = LVTTL;
NET "SA[12]" IOSTANDARD = LVTTL;
NET "UDQM" IOSTANDARD = LVTTL;
NET "WE_N" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "DRAM_CLK" LOC = K12;

# PlanAhead Generated IO constraints 

NET "DRAM_CLK" IOSTANDARD = LVTTL;
