//! **************************************************************************
// Written by: Map O.76xd on Mon Sep 01 16:31:18 2014
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "T10" LEVEL 1;
COMP "ledbar" LOCATE = SITE "B15" LEVEL 1;
COMP "clk" LOCATE = SITE "R9" LEVEL 1;
SCHEMATIC END;

