

NET "LEDg" LOC = R7;
NET "LEDo" LOC = F15;
NET "LEDr" LOC = T4;
NET "clk_12m" LOC = A9;


NET "LEDg" IOSTANDARD = LVTTL;
NET "LEDo" IOSTANDARD = LVTTL;
NET "LEDr" IOSTANDARD = LVTTL;
NET "clk_12m" IOSTANDARD = LVTTL;
