

NET "VGA_BLANK_N" LOC = H6;
NET "VGA_B[0]" LOC = M4;
NET "VGA_B[1]" LOC = N3;
NET "VGA_B[2]" LOC = E3;
NET "VGA_B[3]" LOC = E2;
NET "VGA_B[4]" LOC = H3;
NET "VGA_B[5]" LOC = J3;
NET "VGA_B[6]" LOC = K1;
NET "VGA_B[7]" LOC = K3;
NET "VGA_CLK" LOC = P1;
NET "VGA_G[0]" LOC = C11;
NET "VGA_G[1]" LOC = A11;
NET "VGA_G[2]" LOC = B8;
NET "VGA_G[3]" LOC = A8;
NET "VGA_G[4]" LOC = C5;
NET "VGA_G[5]" LOC = D1;
NET "VGA_G[6]" LOC = J6;
NET "VGA_G[7]" LOC = J4;
NET "VGA_HS" LOC = T9;
NET "VGA_R[0]" LOC = C12;
NET "VGA_R[1]" LOC = C10;
NET "VGA_R[2]" LOC = D9;
NET "VGA_R[3]" LOC = C8;
NET "VGA_R[4]" LOC = D8;
NET "VGA_R[5]" LOC = A14;
NET "VGA_R[6]" LOC = A13;
NET "VGA_R[7]" LOC = A6;
NET "VGA_SYNC_N" LOC = H5;
NET "VGA_VS" LOC = N2;


NET "VGA_B[0]" IOSTANDARD = LVTTL;
NET "VGA_B[0]" DRIVE = 12;
NET "VGA_B[1]" DRIVE = 12;
NET "VGA_B[2]" DRIVE = 12;
NET "VGA_B[3]" DRIVE = 12;
NET "VGA_B[4]" DRIVE = 12;
NET "VGA_B[5]" DRIVE = 12;
NET "VGA_B[6]" DRIVE = 12;
NET "VGA_B[7]" DRIVE = 12;
NET "VGA_B[0]" SLEW = SLOW;


NET "CLOCK_66" IOSTANDARD = LVTTL;
NET "VGA_BLANK_N" IOSTANDARD = LVTTL;
NET "VGA_B[1]" IOSTANDARD = LVTTL;
NET "VGA_B[2]" IOSTANDARD = LVTTL;
NET "VGA_B[3]" IOSTANDARD = LVTTL;
NET "VGA_B[4]" IOSTANDARD = LVTTL;
NET "VGA_B[5]" IOSTANDARD = LVTTL;
NET "VGA_B[6]" IOSTANDARD = LVTTL;
NET "VGA_B[7]" IOSTANDARD = LVTTL;
NET "VGA_CLK" IOSTANDARD = LVTTL;
NET "VGA_G[0]" IOSTANDARD = LVTTL;
NET "VGA_G[1]" IOSTANDARD = LVTTL;
NET "VGA_G[2]" IOSTANDARD = LVTTL;
NET "VGA_G[3]" IOSTANDARD = LVTTL;
NET "VGA_G[4]" IOSTANDARD = LVTTL;
NET "VGA_G[5]" IOSTANDARD = LVTTL;
NET "VGA_G[6]" IOSTANDARD = LVTTL;
NET "VGA_G[7]" IOSTANDARD = LVTTL;
NET "VGA_HS" IOSTANDARD = LVTTL;
NET "VGA_R[0]" IOSTANDARD = LVTTL;
NET "VGA_R[1]" IOSTANDARD = LVTTL;
NET "VGA_R[2]" IOSTANDARD = LVTTL;
NET "VGA_R[3]" IOSTANDARD = LVTTL;
NET "VGA_R[4]" IOSTANDARD = LVTTL;
NET "VGA_R[5]" IOSTANDARD = LVTTL;
NET "VGA_R[6]" IOSTANDARD = LVTTL;
NET "VGA_R[7]" IOSTANDARD = LVTTL;
NET "VGA_SYNC_N" IOSTANDARD = LVTTL;
NET "VGA_VS" IOSTANDARD = LVTTL;


NET "VGA_B[1]" SLEW = SLOW;
NET "VGA_B[2]" SLEW = SLOW;
NET "VGA_B[3]" SLEW = SLOW;
NET "VGA_B[4]" SLEW = SLOW;
NET "VGA_B[5]" SLEW = SLOW;
NET "VGA_B[6]" SLEW = SLOW;
NET "VGA_B[7]" SLEW = SLOW;


NET "CLOCK_66" LOC = R9;


//NET "led" IOSTANDARD = LVCMOS25;


//NET "led" LOC = T10;


NET "psave_n" LOC = D11;


NET "psave_n" IOSTANDARD = LVTTL;


NET "sync_in_1" LOC = A3;
NET "sync_out_1" LOC = A5;
NET "sync_out_2" LOC = B3;


NET "sync_in_1" IOSTANDARD = LVTTL;
NET "sync_out_1" IOSTANDARD = LVTTL;


NET "sync_out_2" IOSTANDARD = LVTTL;


NET "iso_gnd" LOC = C2;


NET "iso_gnd" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "sync_in_2" LOC = G4;

# PlanAhead Generated IO constraints 

NET "sync_in_2" IOSTANDARD = LVTTL;
NET "sync_in_2" CLOCK_DEDICATED_ROUTE = FALSE;