//! **************************************************************************
// Written by: Map O.76xd on Wed Mar 04 15:01:09 2015
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_CLK" LOCATE = SITE "P1" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "M4" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "N3" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "E3" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "E2" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "H3" LEVEL 1;
COMP "VGA_B<5>" LOCATE = SITE "J3" LEVEL 1;
COMP "VGA_B<6>" LOCATE = SITE "K1" LEVEL 1;
COMP "VGA_B<7>" LOCATE = SITE "K3" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "VGA_G<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "VGA_G<7>" LOCATE = SITE "J4" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "C12" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "C10" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "D9" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "C8" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_R<5>" LOCATE = SITE "A14" LEVEL 1;
COMP "VGA_R<6>" LOCATE = SITE "A13" LEVEL 1;
COMP "VGA_R<7>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_SYNC_N" LOCATE = SITE "H5" LEVEL 1;
COMP "VGA_BLANK_N" LOCATE = SITE "H6" LEVEL 1;
COMP "iso_gnd" LOCATE = SITE "C2" LEVEL 1;
COMP "psave_n" LOCATE = SITE "D11" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "T9" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "N2" LEVEL 1;
COMP "sync_out_1" LOCATE = SITE "A5" LEVEL 1;
COMP "sync_out_2" LOCATE = SITE "B3" LEVEL 1;
COMP "sync_in_1" LOCATE = SITE "A3" LEVEL 1;
COMP "sync_in_2" LOCATE = SITE "G4" LEVEL 1;
PIN sync_in_2_pin<0> = BEL "sync_in_2" PINNAME PAD;
PIN "sync_in_2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLOCK_66" LOCATE = SITE "R9" LEVEL 1;
SCHEMATIC END;

