

NET "TMDSn_clock" LOC = A14;
NET "TMDSp[0]" LOC = C13;
NET "TMDSp[1]" LOC = B12;
NET "TMDSp[2]" LOC = C11;
NET "TMDSp_clock" LOC = B14;
NET "clock_50" LOC = K3;


NET "TMDSn[2]" IOSTANDARD = TMDS_33;
NET "TMDSn_clock" IOSTANDARD = TMDS_33;
NET "TMDSp[0]" IOSTANDARD = TMDS_33;
NET "TMDSp[1]" IOSTANDARD = TMDS_33;
NET "TMDSp[2]" IOSTANDARD = TMDS_33;
NET "TMDSp_clock" IOSTANDARD = TMDS_33;
NET "clock_50" IOSTANDARD = LVCMOS33;


NET "LED[0]" LOC = P11;
NET "LED[1]" LOC = N9;
NET "LED[2]" LOC = M9;
NET "LED[3]" LOC = P9;
NET "LED[4]" LOC = T8;
NET "LED[5]" LOC = N8;
NET "LED[6]" LOC = P8;
NET "LED[7]" LOC = P7;


NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[7]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "TMDSn[0]" PULLUP;
NET "TMDSn[1]" PULLUP;
NET "TMDSn[2]" PULLUP;
NET "TMDSn_clock" PULLUP;
NET "TMDSp[0]" PULLUP;
NET "TMDSp[1]" PULLUP;
NET "TMDSp[2]" PULLUP;
NET "TMDSp_clock" PULLUP;
